section > h2 {
  font-family: Poppins;
  color: #222221;
  text-align: center;
}
a{
  text-decoration: none;
  color: #383838;
}
.carousel-img {
  width: 100%;
  height: 700px;
}

.moment-title {
  position: relative;
}

.popup {
  border-left: 8px solid #3f87f5;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.15);
  border-radius: 1px;
}

.popup .title {
  font-size: 1.4em;
  color: #505050;
  font-family: Poppins;
}

.popup i {
  color: #3f87f5;
  margin-right: 5px;
  font-size: 1.4em;
}

.moment-title h2 {
  font-family: Poppins;
  font-weight: bold;
  color: #0a0826;
  font-size: 38px;
}

.moment-title p {
  font-family: Poppins;
  color: #6c6c6c;
  font-weight: normal;
}

button {
  font-family: Poppins;
}

/* package section css  */

.package-item {
  width: 300px;
  padding: 10px;
}

.package-section h2 {
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
}

.package-item:hover {
  background-color: #3f87f5;
  transform: scale(1.1);
  border-radius: 5px;
  transition: transform 0.5s;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
  border-radius: 26px;
}
.package-item:hover .package-btn button {
  background-color: #ffffff;
}
.package-item:hover .package-details i {
  color: #5243c2;
  background: #5293f6;
  border-radius: 50px;
  padding: 5px;
  margin-right: 10px;
}
.package-item:hover .package-details ul li,
.package-item:hover .pacakge-para p,
.package-item:hover .package-price h3,
.package-item:hover .package-title h3,
.package-item:hover .package-details i {
  list-style-type: none;
  margin-bottom: 10px;
  color: #ffffff;
}

.package-price h3,
.package-title h3 {
  color: #231d4f;
  font-family: Roboto;
  text-align: left;
}

.pacakge-para p {
  color: #848199;
  font-family: Poppins;
}

.package-details ul li {
  list-style-type: none;
  margin-bottom: 10px;
  color: #848199;
}

.package-details i {
  color: #5243c2;
  background: rgba(82, 67, 194, 0.103693);
  border-radius: 50px;
  padding: 5px;
  margin-right: 10px;
}
.package-btn button {
  border: none;
  border-radius: 25px;
  background-color: #fef5fa;
  width: 100%;
  height: 45px;
  padding: 13px 0px;
  text-transform: capitalize;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #3f87f5;
  margin-bottom: 15px;
}

/* feedback section css  */
.feedback-section > h2 {
  font-family: Poppins;
  color: #222221;
  text-align: center;
}

.card-details {
  background: #ffffff;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  border: none;
}

.card-details p {
  color: #6c6c6c;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

/* Ask Question style  */
.question {
  border: 1px solid #D5E5FB;
  border-radius: 5px;
  color: #383838;
  font-family: Poppins;
  margin-bottom: 13px;
}

/* footer style  */
.footer{
  background-color: #0B0D17;
}

.copyright p{
  color: #D9DBE1;
}

.apps-store-btn {
  line-height: 20px;
}
.apps-store-btn button{
  border: 1px solid #848199;
  background-color: #000000;
  color: #ffffff;
  position: relative;
  border-radius: 15px;
  width: 160px;
}
.apps-store-btn i{
  position: absolute;
  top: 10px;
  bottom: 0px;
  left: 0px;
  font-size: 1.5em;
  margin-left: 5px;
}
.apps-store-btn .lowe-case{
  font-size: 10px;
  margin-left: 20px;
}
.apps-store-btn .upper-case{
  font-size: 20px;
  margin-left: 20px;
}
/* .happy-moment{
  transition: transform 2s;
}
.happy-moment:hover{
  transform: scale(.7);

} */